#openButton{
    position: absolute;
    top:0px;
    left: 0px;
}
#show-skin-canvas{
    position: absolute;
    top: 30px;
    left: 0px;
    border: initial;
    border-style: solid;
}
#spastic-quote{
    position: fixed;
    top: -10px;
    left: 100px;
}
#x32skin{
    position: fixed;
    top: -10px;
    left: 300px;
}